* {
box-sizing:border-box;
}


body {

margin:0;

background:#000;

color:white;

font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;

padding-bottom:90px;

}



header {

text-align:center;

padding:25px;

background:#111;

border-bottom:2px solid red;

}



header h1 {

margin:0;

font-size:32px;

color:red;

}



header p {

color:#ccc;

}



main {

padding:15px;

}



.card {

background:#151515;

border:1px solid #333;

border-radius:18px;

padding:20px;

margin-bottom:20px;

}



h2 {

color:red;

}



h3 {

margin-top:25px;

color:white;

}



.hidden {

display:none;

}



button {

background:red;

color:white;

border:none;

border-radius:12px;

padding:12px;

font-size:16px;

font-weight:bold;

}



nav {

position:fixed;

bottom:0;

left:0;

right:0;

height:75px;

background:#111;

border-top:2px solid red;

display:flex;

justify-content:space-around;

align-items:center;

}



nav button {

background:none;

font-size:14px;

padding:5px;

}



select {

width:100%;

padding:15px;

background:#222;

color:white;

border:1px solid red;

border-radius:12px;

font-size:16px;

}



table {

width:100%;

border-collapse:collapse;

margin-top:15px;

margin-bottom:20px;

}



th {

color:red;

padding:10px;

}



td {

padding:8px;

text-align:center;

}



input {

width:75px;

background:#222;

color:white;

border:1px solid #555;

border-radius:8px;

padding:10px;

text-align:center;

}



.exercise {

background:#222;

border-radius:12px;

padding:15px;

margin-bottom:15px;

}
